<h2>Form</h2>
<form action="/insert" method="post">
    {% csrf_token %}
    <label for="id">Id</label>
    <input type="text" name="id" id="id">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="community">Community</label>
    <input type="text" name="community" id="community">
    <label for="age">Age</label>
    <input type="number" name="age" id="age">

    <button type="submit">Submit</button>
</form>

<br>
<h2>Upload Excel</h2>
<form action="/insert_excel" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file">File</label>
    <input type="file" name="file_excel" id="file_excel">
    <button type="submit">Submit</button>
</form>


{% if childs %}
{% for child in childs %}
    <p>{{child.id}} </p>
    <p>{{child.name}} </p>
    <p>{{child.community}} </p>
    <p>{{child.age}} </p>
    <br>
{% endfor %}
{% endif %}

